
main {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
 font-size: 35px;
}

h3 {
    font-size: 20px;
}

div#fontypes {
    background-color: white ;
    margin: auto;
    max-width: 880px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    font: italic bold 0.4cm Arial;
    margin-bottom: 0px;
    box-shadow:0px 0px 10px #b7b7b7;
}

h2#tipograf {
box-shadow:0px 0px 10px #b7b7b7;
background-color: #B54EDD;
margin: auto;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
color: rgb(236, 236, 133); 
max-width: 900px;
padding-top: 5px;
padding-bottom: 8px;
}
img {
    margin: auto;
}
div#efect, div#efect3, div#efect5  {
background-color: #8606B8;
color: #8606B8;
max-width: 900px;
margin: auto;
text-align: center;
height: 10px;
}
div#efect2 {
    background-color: #FFA853;
    color: #FFA853 ;
    max-width: 900px;
    height: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.prop {
    color: cadetblue;
}
.seletor {
    color: goldenrod;
}
.tag {
    color: blue;
}
.string {
color: indianred;
}
.value {
    color: olivedrab;
}
div#d {
    background-color:black;
    padding: 50px;
}
.impor {
    background-color: rgba(220, 224, 224, 0.438);
    text-align: center;
    border-radius: 10px;
    margin:auto ;
    padding: 10px;
    text-align: center;
    
}
ul {
    list-style-position: inside;
}
li::marker {
    content: '➡ ';
}


